/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.praying-members {
  background: url('../assets/88.png') no-repeat fixed center/cover;
}

.singing-member {
  background: url('../assets/ND-39.jpg') no-repeat center center/cover;
}

.join-us-bg {
  background: url('../assets/ND-111.jpg') no-repeat fixed center center/cover;
}

li {
  list-style: none;
}

body {
  color: black;
  /* font-family: 'Poppins', sans-serif; */
}